@model Stack_Learn.Models.Professor

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detalhes de Professor";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
          charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Css/Adm.css")" rel="stylesheet" />
    <style>
        label {
            margin-top: 10px;
        }
    </style>
</head>
<div class="panel panel-primary">
    <div class="panel-heading">
        Detalhes de Professor
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-book"></i>
                </span>
                @Html.EditorFor(model => model.Nome, new
                {
                    htmlAttributes =
                new { @class = "form-control", disabled = "disabled" }
                })
            </div>
            @Html.LabelFor(model => model.CPF)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-briefcase"></i>
                </span>
                @Html.EditorFor(model => model.CPF, new
                {
                    htmlAttributes =
                new { @class = "form-control", disabled = "disabled" }
                })
            </div>
            @Html.LabelFor(model => model.Login)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.Login, new
                {
                    htmlAttributes =
                new { @class = "form-control", disabled = "disabled" }
                })
            </div>
            @Html.LabelFor(model => model.Senha)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </span>
                @Html.EditorFor(model => model.Senha, new
                {
                    htmlAttributes =
                new { @class = "form-control", disabled = "disabled" }
                })
            </div>
            @Html.LabelFor(model => model.CEP)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
                @Html.EditorFor(model => model.CEP, new
                {
                    htmlAttributes =
                new { @class = "form-control", disabled = "disabled" }
                })
            </div>
            @Html.LabelFor(model => model.Endereco)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
                @Html.EditorFor(model => model.Endereco, new
                {
                    htmlAttributes =
                new { @class = "form-control", disabled = "disabled" }
                })
            </div>

        </div>
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Alterar", "Edit", new { id = Model.ProfessorId },
        new { @class = "btn btn-info" })
        @Html.ActionLink("Retornar", "Index", null,
        new { @class = "btn btn-info" })
    </div>
</div>

@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProfessores').addClass("active");
        });
    </script>
}

@Html.Partial("~/Views/Cursos/_PorProfessores.cshtml", Model.Cursos.ToList())