@model Stack_Learn.Models.MeusCursosIndex
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stack Learn | Meus cursos index</title>
    <link href="@Url.Content("~/Css/PaginasInternas.css")" rel="stylesheet" />
</head>
<body>
    @Html.Partial("~/Views/Shared/_Header_Aluno.cshtml", Model)
    <h1 class="fontJost400" style="background-color:#FFCC36; margin-top:0px; font-size:22px; text-align:center; padding: 1.5em; ">EXPLORAR CURSOS</h1>
    <div class="part1 flex-column " style="padding: 3em; flex-wrap: wrap; width: 100%;">
        <h1 class="fontJost400" style="font-size: 26px; font-weight: 500; margin: 0px 0px 10px 0px;text-align: left;">EM ANDAMENTO</h1>
        <div class="flex-col " style="flex-wrap: wrap;">
            @foreach (var item in Model.em_andamento)
            {
            <div class="card part1 flex-col" style="
            border: 3px solid transparent;
            box-shadow: 2px 1000px 1px #ffff inset;
            background-image: linear-gradient(to right, #70D7C7, #FFCB34);
            color: black;
            margin: 12px 20px 0px 0px;
            padding: 16px;
">
                @{
                    int aulasfeitas = 0;
                    int progresso = 0;


                    foreach (var subitem in item.Aulas)
                    {
                        if (subitem.TrueFalse == true)
                        {
                            aulasfeitas++;
                        }
                    }
                    progresso = (aulasfeitas * 100) / item.Qtd_Aulas;

                    int tamanho = item.Categoria.Nome.Length;
                    <div class="esquerda flex-column">
                            <a style="
                        font-family:'Jost';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        text-decoration: none;
                        border: 1px solid #ECE8EF;
                        border-radius: 5px;
                        color: black;
                        width: calc(10px*@tamanho);">@item.Categoria.Nome.ToUpper()</a>
                        <h3 style="font-family:'Jost'; font-size: 16px;">@item.Nome</h3>
                        @Html.HiddenFor(m => item.LogotipoMimeType)
                        @Html.HiddenFor(m => item.Logotipo)
                        @Html.HiddenFor(m => item.NomeArquivo)
                        @Html.HiddenFor(m => item.TamanhoArquivo)
                        <img src="@Url.Action("GetLogotipo", "Cursos", new { id = item.CursoId })" width="150" height="80" />




                </div>


                <div class="direita flex-column" style="
                align-items:center;
                justify-content: flex-end;
                margin-left: 10px;

                   ">
                    <h4 style="
                    border-radius: 1000%;
                    background-color:#70D7C7;
                    padding: 8px;
                    font-family: 'Jost';
                    font-size:16px;
                    ">
                        @progresso%
                    </h4>


                    @foreach (var subitem in item.Aulas)
                    {
                        long? AulaaId = 0;
                        if (subitem.CursoId == item.CursoId && subitem.AlunoId == Model.MeusCursosIndexId)
                        {
                            AulaaId = subitem.AulaId;
                            <h4 style="
                        background-color:#FFCC36;
                        padding: 10px;
                        font-family: 'Jost';
                        color: black;
                        font-size: 16px;
                        margin: 0px;
                        border-radius: 5px;
                        ">
                                <a href="/Aulas/AulaIndividual/@AulaaId" style="color:black;">Continuar Aulas</a>

                            </h4>
                            break;
                        }

                    }
                </div>

                }

            </div>
                    }

            </div>
    </div>
    
    <div class="part 2 flex-column center" style="background-color:#515352;">
        <h1 class="fontJost400" style="font-size: 24px;color: white; margin: 0px;">CONCLUIDO</h1>
        <div class="flex-col">
            @foreach (var item in Model.concluido)
            {
                <h3>@item.Nome</h3>


                int aulasfeitas = 0;
                int progresso = 0;


                foreach (var subitem in item.Aulas)
                {
                    if (subitem.TrueFalse == true)
                    {
                        aulasfeitas++;
                    }
                }
                progresso = (aulasfeitas * 100) / item.Qtd_Aulas;
            }
        </div>
        
    </div>
    
    @Html.Partial("~/Views/Shared/_Footer.cshtml", Model)
</body>
</html>
