@model IEnumerable<Modelos.Models.Pedido>
@{
    Layout = null;
}
<head>
    <title>Stack Learn | Lista comprados</title>
    <link href="@Url.Content("~/Css/PaginasInternas.css")" rel="stylesheet" />
</head>
<body>
    @Html.Partial("~/Views/Shared/_Header_Aluno.cshtml", Model)
    <h1 class="fontJost400" style="background-color:#FFCC36; margin-top:0px; font-size:24px; text-align:center; padding: 1.5em; margin-bottom: 2em;">MEUS CURSOS</h1>

    <div class="part1">

    </div>
    <div class="part2" style="background-color: #454545;">

    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml", Model)
</body>
@section ScriptPage{
    <script src="@Url.Content("~/scripts/DataTables-1.10.2/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables-1.10.2/dataTables.bootstrap.js")"></script>
}