<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
          charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/LayAdm.css")" rel="stylesheet"/>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="page-header">
                <figure>
                    <img src="~/img/logo2.svg" />
                </figure>
                <figure>
                    <img src="~/img/admfoto.svg" class="user"/>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <ul class="nav nav-pills btn-white300">
                    <li id="liHome" role="presentation" class="active"><a href="#">Home</a></li>
                    <li id="liCursos" role="presentation">@Html.ActionLink("Cursos", "Index", "Cursos")</li>
                    <li id="liAlunos" role="presentation">@Html.ActionLink("Alunos", "Index", "Alunos")</li>
                    <li id="liProfessores" role="presentation">@Html.ActionLink("Professores", "Index", "Professores")</li>
                    <li id="liCategorias" role="presentation">@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                    <li id="liAulas" role="presentation">@Html.ActionLink("Aulas", "Index", "Aulas")</li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-12">
                <br />
                @RenderBody()
            </div>
        </div> <br />
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <small>Layout por StackLearn</small>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/scripts/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
    @RenderSection("styles", false)
    @RenderSection("ScriptPage", false);
</body>
</html>