@model Stack_Learn.Areas.Seguranca.Models.LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Acessando o sistema";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
          charset="utf-8" />
    <title>Login</title>

    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/Cadastro.css")" rel="stylesheet" />
</head>
<body class="body">
    <header class="header">
            <a href="/Home/PaginaInicial" class="logo"><img src="~/img/logo2.svg" class="logo" /> </a>
    </header>


    <div class="divdivider">
        <div class="cadastro-area">
            <div class="cadastrotitle">
                <figure>
                    <img src="~/img/teacher.svg" />
                </figure>
                <p class="title">
                    LOGIN
                </p>
            </div>



            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="formgroup">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div>
                            @Html.LabelFor(model => model.Nome, "Login", htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="size-editor">
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                

                    <div class="form-group">
                        <div>
                            @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label" })
                        </div>

                        <div class="size-editor">
                            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    

                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="ENTRAR" class="btn btn-default button strong" />
                        </div>
                    </div>
                </div>
            }
            <div style="margin-top: 1em;">
                <p class="align-center" style="color: white; text-align: center;">Ainda não esta cadastrado?</p>
                <div class="cadastro-btn" style="text-align: center;">
                        @Html.ActionLink("Cadastre-se", "../Professores/Cadastro")
                </div>
            </div>

        </div>

        <div  class="art">
        </div>
    </div>
        
</body>


  
    