@model Modelos.Models.Aluno
@{
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
          charset="utf-8" />
    <title>Dados cadastrais</title>
    <link href="@Url.Content("~/Css/PaginasInternas.css")" rel="stylesheet" />
</head>
<body>
    @Html.Partial("~/Views/Shared/_Header_Aluno.cshtml", Model.curso_usuario)
    <div class="main-informations flex-col center">
        <div class="image-informations">
            <img src="~/img/foto_estudantefoto.svg" height="250" width="250" />
        </div>
        <div class="content-informations fontJost700">
            @Html.DisplayFor(model => model.Nome)
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="main-informations flex-col center center-justify">

            <div class="formgroup ">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.AlunoId)
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome)
                    <div class="size-editor">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CPF)
                    <div class="size-editor">
                        @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="formgroup">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    <div class="size-editor">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Login)
                    <div class="size-editor">
                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Senha)
                    <div class="size-editor">
                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
        <div>
            <input type="submit" value="SALVAR" class="salvar_button"/>
        </div>
    }

    @Html.Partial("~/Views/Shared/_Footer.cshtml", Model)

</body>
@section ScriptPage {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}