@model Stack_Learn.Models.AulaDetails
@{
    Layout = null;
    ViewBag.Title = "Detalhes da Aula";
}
<head>
    <title>Stack Learn | Aula individual</title>
</head>
<body>
    @Html.Partial("~/Views/Shared/_Header_Sem_Login.cshtml", Model)
    <h1 class="fontJost400" style="background-color:#FFCC36; margin-top:0px; font-size:24px; text-align:center; padding: 1.5em; margin-bottom: 2em;">
        @Model.Curso.Categoria.Nome > @Model.Curso.Nome
    </h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.AulaId)

        <div class="aulaindividual">

            @Model.Titulo <img src="~/img/ImgAula.svg" height="300" width="300" />

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <div class="form-group">
                    @Html.LabelFor(model => model.TrueFalse, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.TrueFalse)
                            @Html.ValidationMessageFor(model => model.TrueFalse, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <p> Descrição do curso:</p> <br /><p> @Model.Curso.Descricao</p>
        <hr />
        <div class="outrasaulas">
            Aulas <br />
            @if (Model.Aulas != null)
            {
                foreach (var item in Model.Aulas)
                {
                    <div><a href="./@item.AulaId">@item.Ordem.  @item.Titulo</a></div>
                }
            }
        </div>

        <hr />
        <p>Progresso</p> <br />
        <p>(Sem Progresso ainda)</p>
        @Html.Partial("~/Views/Shared/_Footer.cshtml", Model)
    }
</body>
@section ScriptPage{
    <script src="@Url.Content("~/scripts/DataTables-1.10.2/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables-1.10.2/dataTables.bootstrap.js")"></script>
}