@model Stack_Learn.Models.Aula

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<h2>Details</h2>-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
          charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Css/Adm.css")" rel="stylesheet" />
</head>
<div>
    <h4>Aula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ordem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AulaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
